{{/* The line below tells Intellij/GoLand to enable the autocompletion based on the *gen.Graph type. */}}
{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "model/fields/additional" }}


{{- if eq $.Name "Department" }}
AllEmployees []*Employee `json:"all_employees"`
{{- end }}

{{- if eq $.Name "Event" }}
EventTypeLabel string `json:"event_type_label"`
EventStatusLabel string `json:"event_status_label"`
Location string `json:"location"`
LocationWithAliasName string `json:"location_with_alias_name"`
{{- end }}

{{- if eq $.Name "Risk" }}

{{- end }}

{{- if eq $.Name "DeviceInstallation" }}
AreaName string `json:"area_name"`
LocationWithAliasName string `json:"location_with_alias_name"`
{{- end }}


{{ end }}
